<footer class="footer">
    <button class="footer__up" type="button">Наверх страницы</button>
    <div class="footer__top">
        <div class="footer__container container d-flex">
            <a href="/" class="footer__link">
                <img src="/img/svg/icons.svg" alt="Vtorus" class="header__logo">
            </a>
            <ul class="footer__social social list d-flex">
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="#" alt="social" class="social__image">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="#" alt="social" class="social__image">
                    </a>
                </li>
            </ul>
            <a href="#" class="footer__call btn btn_color-skyblue btn-popup">Задать вопрос</a>
        </div>
    </div>
    <div class="footer__center">
        <div class="footer__container container d-flex">
            <ul class="footer__list">
                <li class="footer__col">
                    <p class="footer__name">Компания</p>
                    <ul class="footer__menu menu-col">
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">О компании</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Готовые решения</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Оплата и доставка</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__col">
                    <p class="footer__name">Химия</p>
                    <ul class="footer__menu menu-col">
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Химчистка</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Стирка</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Аква-чистка</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Обработка кожи и меха</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Выведение пятен</a>
                        </li>
                        <li class="menu-col__item">
                            <a href="#" class="menu-col__link">Чистка ковров</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__col">
                    <p class="footer__name">Химия</p>
                    <div class="footer__row d-flex">
                        <ul class="footer__menu menu-col">
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Химчистка</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Стирка</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Аква-чистка</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Обработка кожи и меха</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Выведение пятен</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Чистка ковров</a>
                            </li>
                        </ul>
                        <ul class="footer__menu menu-col">
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Химчистка</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Стирка</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Аква-чистка</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Обработка кожи и меха</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Выведение пятен</a>
                            </li>
                            <li class="menu-col__item">
                                <a href="#" class="menu-col__link">Чистка ковров</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
</div>
<script src="js/main.js"></script>
</body>

</html>
