<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Vtorus</title>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <div class="wrapper">
        <header class="header header-main">
            <div class="header__container container d-flex">
                <a href="/" class="header__link">
                    <img src="/img/svg/icons.svg" alt="Vtorus" class="header__logo">
                </a>
                <div class="header__top">
                    <ul class="header__social social">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="#" alt="social" class="social__image">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="#" alt="social" class="social__image">
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="header__call btn btn-popup">Задать вопрос</a>
                    <div class="header__contacts">
                        <a href="#" class="header__number number"><span class="number__color">8(800)</span>999-99-99</a>
                    </div>
                    <form action="#" class="header__search search">
                        <input type="text" class="search__element search__input" placeholder="Начните поиск товара">
                    </form>
                </div>
                <div class="header__bottom">
                    <nav class="header__nav">
                        <ul class="header__menu menu">
                            <li class="menu__item">
                                <a href="#" class="menu__link">Химия</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Химия</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Химия</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Химия</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Химия</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__busket small-busket"></div>
                </div>
            </div>
        </header>
