$font-main: 'Ubuntu', sans-serif;;

$font-roboto:'Roboto', sans-serif;

$font-openSans: 'Open Sans', sans-serif;

$color-primary: #2979ff;

$color-dark: #131313;

$color-warning: #d50000;

$color-sucess: #11c339;

$color-blue: #2f8ebf;

$color-darkblue: #02225c;

$color-skyblue: #5fc3f1;

$color-gray: #929cae;

$box-shadow-default: 2px 2px 4px rgba(0, 0, 0, 0.1);

$spacing: 15px;

$spacing-double: ($spacing * 2);

